name: Build BeyondAI APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/upload-artifact@v4
        with:
          flutter-version: "stable"

      - run: flutter pub get
      - run: flutter build apk --release

      - uses: actions/upload-artifact@v3
        with:
          name: BeyondAI-APK
          path: build/app/outputs/flutter-apk/app-release.apk  
